---
layout: archive
title: "Research"
permalink: /rad/
author_profile: true
---
<a href="https://rad.engr.tamu.edu/"><h2> Robotics Automation and Design (RAD) Lab</h2></a>
<p><b>Due to the sensitive nature of the work at the lab, I am limited on the information that I can share on the projects on 
which I worked.</b>
</p>


<h3>Summer 2025</h3>
<p>Designed, manufactured, and assembled a parasitic torque testbed to measure the effect of external cable harnessing on a 
space-rated robotic arm. I designed the testbed with two configurations - roll and pitch. These positions simulate the two 
arrangements in which the external cable harness will mount to the arm. I opted for maximum adjustability with both the rigid 
and moving mounts to test infinite positions. Additionally, I ensured it was easy to change between the two configurations 
(roll/pitch).
</p>

<img src="/images/PXL_20250728_215540561.jpg" alt="Parasitic torque testbed" width="500" height="600">

<p>I developed a specialized enclosure to test custom motor controllers. The enclosure housed an absolute rotary encoder, 
which connected to the motor controller through a custom PCB. I achieved the high tolerances necessary when working with 
encoders. This includes concentricity between the rotor and stator as well as the proper z-height between the two components.
</p>

<p>I produced a scale functional model of the robotic arm. This served a couple of purposes. First, it allowed for test 
fitting and harnessing to be done. It is difficult to do this in CAD due to the numerous complex bends present. Additionally, 
visualization can be difficult from a computer screen, so a physical model helped grasp the scale of components. 
Second, the model allowed the lab to develop assembly procedures for the arm.
</p>


<h3>Summer 2024</h3>
<p>Developed a program to determine minimum bolt sizes for fixtures in Visual Basic for Applications (VBA). The algorithm 
leveraged equations from Shigley's Mechanical Engineering Design textbook and user inputs such as the thickness of the two 
materials, the desired preload, and the strength of the bolt. The function would return the minimum size bolt for the fixture 
for both Metric and Imperial hardware.
<p/>

<p>I also designed and manufactured a million-cycle testbed for wire torsion. This testbed continuously twisted the cable 
harness (not shown) that runs down the central bore of the actuators. The harness contains various data cables and 
high-current space-rated power cables. Failure of the cables was determined when the internal resistance of the power cables 
had doubled.
<p/>

<img src="/images/testbead.png" alt="Wire torsion testbed" width="500" height="600">

<p>Designed space-rated Series Elastic harmonic drive oscillators. Minimizing width and length while maximizing inner bore diameter. I had to package a motor and torsion spring along with numerous encoders and bearings. 
Two encoders determine the delta in output between the motor and arm, which would be the deflection of the spring. With this angle, one could calculate the torque on the arm. 
I am unable to produce CAD models due to security reasons.
<p/>


<!-- {% if site.talkmap_link == true %}

#<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

#{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->
